.info > img{
  border-radius: 10px 10px 0 0 ;
}
.info-details{
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  margin: 20px auto 0 auto;
  max-width: 70%;
}

.name{
  font-size: 25px;
  font-weight: bold;
}

.title{
  color: var(--accent);
  font-size: 12.8px;
}

.url{
  color: var(--text);
  font-size: 10.24px;
  text-decoration: none;
}

.button-section{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 10px 0;
}

.button-section button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.linkedin--btn{
  background: #5093E2;
  color: white;
}
